/* Mobile Layout */

/* All Pages*/
.hero-display {
    padding: 10% 5%;
}

hr {
    padding: .25em;
}

@media only screen and (min-width: 768px) {
/* Desktop Layout */
    .hero-text {
        max-width: 50%;
    }

    .hero-display {
        padding: 5%;
    }

    .content-box {
        margin-top: 50px;
    }

    .inner-box {
        width: 50%;
        margin: auto;
    }

    #contact {
        width: 75%;
    }
}
