{% extends "layout.html" %}

{% block title %}
   Index
{% endblock %}

{% block main %}

<div class="hero-display">
    <div class='hero-text'>
         <h1 class="hero">About</h1>
         <p class="hero">Switching to natural is hard. Wouldn't it be easier if you knew what other people with you hairtype are doing?</p>
         <hr>
         <p>That's what developer Kelly Foulk thought. She's gone natural many times, but always got frustrated with the process. So therefore, this project began.I hope with the help of others, I'm able to create a smart database of hair types and washing methods so the site can provide personalized recomendations to people when they fill out a form similar to the one I have now.</p>
         <p>Let's make switching to natural haircare easy!</p>
         <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
    </div>
</div>

{% endblock %}
