{% extends "layout.html" %}

{% block title %}
   Index
{% endblock %}

{% block main %}

<div class="hero-display">
    <div class='hero-text'>
        <h1 class="hero">Want to help others switch to natural haircare?</h1>
        <hr>
        <p> Fill in the form below and tell me what your hair type is and how you currently wash your hair. Your answers will help the site learn what hair types work best with different washing methods. Every answer helps. If you have any questions or have an idea for a questions I should be asking, please let me know!</p>
        <p>Thanks, Kelly</p>
        <a class="btn btn-primary btn-lg" href="/name" role="button">Let's Get Started!</a>
    </div>
</div>

{% for user in users %}
<ul>
    <li>{{user['name']}}, {{user['curl']}}</li>
</ul>
{% endfor %}

{% endblock %}
